html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.737);
    color: whitesmoke;
}

.container{

    display: flex;
    color: whitesmoke;
    justify-content: center;
   
}


ul{
    padding: 0;
    list-style-type: none;

}
li{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    /* line-height: 3rem; */
    margin-block: 1rem;
}
li>button{

    padding-block: 0.5rem ;
    padding-inline:0.7rem ;
    border-radius: 0.4rem;
    background-color: aqua;

}
/* li>button:hover{

    display: none;
}     */

form div button{
    border-radius: 0.4rem;
    background-color: aqua;

    margin-top: 1rem;
    padding: 0.5rem;
}

